<div class="container mx-auto w-full max-w-[1200px]">

  <h1 class="font-bold text-4xl mb-8">Generate Password</h1>
  <%= render "generate_form" %>

  <h1 class="font-bold text-4xl my-8">My Passwords</h1>
  <%= turbo_frame_tag "passwords" do %>
    <%= render "passwords" %>
  <% end %>
</div>
